table {
  /*   border-style:groove;
    border-color: black;
    border-collapse: collapse; */
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 2px solid black;
  padding: 8px 10px;
}
