<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Give Your Details</h1>
    <br />
    <div>
      <form action="/insertProduct" method="post">
        <label>PRODUCT NAME :</label><input type="text" name="product_name" />
        <br />
        <label>PRICE :</label><input type="text" name="price" />
        <br />
        <label>BRAND :</label><input type="text" name="brand" />
        <br />
        <label>CATEGORY :</label><input type="text" name="category" />
        <br />
        <label>SUB_CATEGORY :</label><input type="text" name="sub_category" />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
